{% extends "templates/base.html" %}
{%block title %}Students |{% endblock %}
<div id="wrapper">
{% block content %}
<div id="content">
<form action="/newstudent" method="post">
<table class="resizable" style="min-width:800px; min-height:300px;">
<tr>
	{% for heading in headings %}
		<th>{{ heading|e }}</th>
	{% endfor %}
</tr>
	{% for s in studentQ %}
		<tr class="{{ loop.cycle('d0', 'd1') }}">
			<td>{{ s.firstname|e }}</td>
			<td>{{ s.lastname|e }}</td>
			<td>{{ s.phone|e }}</td>
			<td><a href="mailto:{{ s.email|e }}">{{ s.email|e }}</a></td>
			<td>{{ s.address|e }}</td>
			<td>{{ s.monbid|e }}</td>
			<td>{{ s.edgeid|e }}</td>
			<td>{{ s.membexp|e }}</td>
			<td>{{ s.tuitexp|e }}</td>
			<td>{{ s.notes|e }}</td>
			<td><input type="radio" value="{{ s.key()|e }}" name="updateKey" id="update"></td>
			<td><input type="radio" value="{{ s.key()|e }}" name="delKey" id="del"></td>
		</tr>
	{% endfor %}
</table>
<br />
<div>
<fieldset id="draggable2" class="resizable" style="min-width:300px; min-height:300px;">
<legend>Student Details</legend>
<div><label>First Name&nbsp;</label><input type="text" id="1" name="studentfirstname" placeholder="Bill" required="required"></div>
<div><label>Last Name&nbsp;</label><input type="text" id="2" name="studentlastname" placeholder="Bloggs"></div>
<div><label>Phone&nbsp;</label><input type="text" id="3" name="studentphone" placeholder="0427 123 456"></div>
<div><label>Email&nbsp;</label><input type="text" id="4" name="studentemail" placeholder="bill@bloggs.com"></div>
<div><label>Address&nbsp;</label><textarea id="5" name="studentaddress" rows="2" cols="22" placeholder="10 Antidiluvian St, Newtown"></textarea></div>
<div><label>MonbID&nbsp;</label><input type="text" id="6" name="studentmonbid" placeholder="xx"></div>
<div><label>EdgeID&nbsp;</label><input type="text" id="7" name="studentedgeid" placeholder="xxx"></div>
<div><label>MembExp&nbsp;</label><input type="text" id="8" name="studentmembexp" placeholder="DD-MM-YY"></div>
<div><label>TuitExp&nbsp;</label><input type="text" id="9" name="studenttuitexp" placeholder="DD-MM-YY"></div>
<div><label>Notes&nbsp;</label><textarea id="10" name="studentnotes" rows="2" cols="22" placeholder="10 Antidiluvian St, Newtown"></textarea></div>
<div><input type="submit" value="Update Student"><input type="radio" id="confirmdel" value="Confirm delete" style="display:none;"></div>
</fieldset>
</div>
</form>
</div>
{% endblock %}
{% block footer %}
<div id="footer">
&copy; Copyright 2012 by TC
</div>
{% endblock %}
</div>
{% block pagejs %}

<!--  Script by Cals to pre-populate form fields with data from selected record when Edit radio button is clicked -->
<script type="text/javascript">
$().ready(function() {
	//console.info('hello from page load');	
	var radios = $('[type="radio"]#update, [type="radio"]#del');
	// console.info(radios);
	radios.change(function(){
		//console.info($(this));
		var cells = $(this).parent().parent().children();
		//console.info(cells);	
		cells.each(function(index) {
			//console.info(index);
			//console.info((index+1).toString());
			var inputid = '#'+(index+1).toString();
			$(inputid).val($(this).text());
			//console.info($(this).text());
		});
	});
});
</script>

<!-- Script by TC to add confirm delete function when Delete radio button is checked -->
<script type="text/javascript">
$(document).ready(function() {
	//console.info('the document is ready');
	//alert($('[type="radio"]#del').length + ' elements!');
	var delradio = $('[type="radio"]#del');
	delradio.change(function() {
	//if (delradio) {
	if ($(this)) {
		alert('You have selected the delete radio button');
		var confirm = $('[type="radio"]#confirmdel');
		//console.info(confirm);
		confirm.change(function() {
			if ( confirm.checked) {
				console.info('checked');
				$('form').submit(function() {
				//console.info($(this));
					return true;
			});
			}
			else {
				console.info('not checked');
				$('form').submit(function() {
					alert('Please confirm delete.');
					return false;			
				});	
			};
			});
		$('[type="radio"]#confirmdel').toggle();		

	};
		});
});
</script> 

<!-- JQuery UI resizable and draggable scripts  -->
<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.1/themes/base/jquery-ui.css" />
<script src="http://code.jquery.com/ui/1.9.1/jquery-ui.js"></script>
<style>
    .resizable { width: 150px; height: 150px; padding: 0.5em; }
    .resizable h3 { text-align: center; margin: 0; }
    .ui-resizable-helper { border: 2px dotted #00F; }
    </style>
    <script>
    $(function() {
        $( ".resizable" ).resizable({
            animate: true,
			helper: "ui-resizable-helper"
			
        });
    });
    </script>
	
	<style>
    #draggable, #draggable2, #draggable3 { width: 100px; height: 100px; padding: 0.5em; float: left; margin: 0 10px 10px 0; }
    </style>
    <script>
    $(function() {
        $( "#draggable" ).draggable({ cursor: "move", cursorAt: { top: 56, left: 56 } });
        $( "#draggable2" ).draggable({ cursor: "crosshair", cursorAt: { top: -5, left: -5 } });
        $( "#draggable3" ).draggable({ cursorAt: { bottom: 0 } });
    });
    </script>

{% endblock %}
